//sidebar
$menuBg:#304156;
//$subMenuBg:#1f2d3d;
$subMenuBg:#081c27;
//$menuHover:#001528;
$menuHover:#29323f;

/*主色*/
 $mainColor:#409EFF;
/*success*/
$successColor:#67C23A;
/*warning*/
$warningColor:#E6A23C;
/*danger*/
$dangerColor:#F56C6C;
/*info*/
$infoColor:#909399;

/*主要文字*/
$oneWordsColor:#303133;
/*常规文字*/
$twoWordsColor:#606266;
/*次要文字*/
$threeWordsColor:#909399;
/*占位文字*/
$fourWordsColor:#C0C4CC;

/*一级边框*/
$oneBorderColor:#DCDFE6;
/*二级边框*/
$twoBorderColor:#E4E7ED;
/*三级边框*/
$threeBorderColor:#EBEEF5;
/*四级边框*/
$fourBorderColor:#F2F6FC;


